/*-----------RESET----------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----VARIÁVEIS------------*/
:root {
    /*Cores principais*/
    --Background : #0A8B99;
    --Primaria: #0A8B99;
    --Secondary: #A0A603;
    --Branco:#FFFFFF;
    --Neutra: #5D6062;
    --Black:#080808;
    --bg-1:#055058;
    --bg-2:#246A44;
    --bg-3:#04BFBF;
    --bg-4:#026060;
    --bg-5:#FFAE00;
    --bg-6:#F57606;
    --bg-7:#05b18b;
    


    /*Cores de destaque*/
    --Sucess: #1BE071;
    --Warning: #F47E08;
    --Danger: #FF0000;

 

    
      

    /*GRADIENTE COLOR*/

    --gradient-1: linear-gradient(90deg,transparent 0%,#055058 50%, transparent 100%);

    --gradient-2 : linear-gradient(90deg, var(--#04BFBF), var(--#026060));

    --gradient-3 : linear-gradient(90deg, var(--#FFAE00), var(--#F57606));

/*---TIPOGRAFIA----*/

    --ff-overlock: "Overlock", sans-serif;
    --ff-philosopher: "Philosopher", sans-serif;
    
    

    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.7rem;
    --fs-5: 1.6rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-f8: 1.2rem;

    --weight-regular: 400;
    --weight-semibold: 600;
    --weight-bold: 700;

  /*Espaço*/
    --section-spacing: 60px;

  /*Borda*/
    --boder: hsl(194, 96%, 22%);
    --boder-30: hsla(207, 100%, 63%, 0.438);

  /*Boder radius*/
    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-3: 3px;

  /*Sombras*/
  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);
  --shadow-1: 0px 2px 20px hsla(209, 36%, 72%, 0.2);
  --shadow-2: 0 4px 16px hsla(0, 0%, 0%, 0.06);
  


    /*==== transição ====*/
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
    /*==== clip path ====*/
    --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
    --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
    --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
    --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
    --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
    --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

li {
    list-style: none;
  }
  
  a,
  img,
  span,
  input,
  button,
  textarea,
  ion-icon {
    display: block;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .h1,
  .h2,
  .h3 {
    font-family: var(--ff-overlock);
    line-height: 1.2; 
  }
  
  img {
    height: auto;
  }
  
  input,
  button,
  textarea {
    background: none;
    border: none;
    font: inherit; /*herda da div pai*/
  }
  
  input,
  textarea {
    width: 100%;
  }
  
  ion-icon {
    pointer-events: none;
  }
  
  address {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body{
    background-color: var(--Background);
    color:var(--Branco);
    font-family: var(--ff-philosopher);
    font-size: var(--fs-8);
    font-weight: var(--weight-regular);
    line-height: 1.2;
    overflow-x: hidden;
    height: 3000px; 
  }

  .w-100{
    width: 100%;
  }

  /*Configuração barra de rolagem*/
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track{
    background-color: var(--Neutra);
  }

  ::-webkit-scrollbar-thumb{
    background-color: var(--Secondary);
  }


  /*Css reutilizável*/
  .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /*16*/
  }

  .btn {
    position: relative;
    background: var(--gradient-1);
    color:var(--Branco);
    font-size: var(--fs-f8);
    font-weight: var(--weight-semibold);
    max-width: 120px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
    clip-path: var(--clip-path-2);


  }

  .btn:hover{
    transform: scale(1.05);
  }

  /*HEADER*/
  .logo img{
    width: 160px;
    height: auto;
    object-fit: contain;
    display: block;

  }
  
  .header{
    background-color:var(--Secondary);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12px;
    z-index: 4;
    position: fixed;
     
  }

  .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-list {
    display: flex

  }

  /*.header.active{
    position: fixed;
    animation: slideUP 1s ease forwards; 
  }

  @keyframes slideUP {
    0%{
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
    
  }*/

  .navbar-link{
    padding: 12px 25px;
    text-transform: uppercase ;
    font-size: var(--fs-f7);
    font-weight: var(--weight-semibold);
    color: var(--Branco);
    transition: color 0.3 ease;
  }

  .navbar-link:hover{
    color:var(--Background)
  }

  .search-btn{
    color: var(--Branco);
    font-size: var(--fs-7);
    border: none;
    transition: transform 0.2s ease, color 0.3 ease;
  }

  .search-btn:hover{
    transform: scale(1.2);
    color: var(--Branco);
  }

  .nav-toggle-btn{
    color: var(--Branco);
    font-size: var(--fs-7);
    border: none;
    transition: transform 0.2s ease, color 0.3 ease;
  }

  .nav-toggle-btn:hover{
    transform: scale(1.2);
    color: var(--Branco);
  }

  .nav-toggle-btn{
    display: none;
  }

  /*BANNER*/
  .banner{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    /*background:url('../img/fundoprincipal.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/

  }

  .banner video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   object-fit: cover;
   z-index: -1;
  
  }

  /*SERVIÇO*/
  
  .container-serv{
    padding-inline: 16px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .service-list{
    grid-template-columns: repeat(4,1fr);
    display: grid;
    padding-block: 60px 30px;
    padding-inline: 50px;
    gap: 30px;
    border-radius: var(--radius-5);
    background-color: var(--bg-7);
    box-shadow: var(--shadow-2);
    margin-block-start:-60px;
  }

  .service-card a{
    color: var(--Branco);
  }

  .service-car .card-text {
    color:var(--Branco);
    font-size: var(--fs-f8);
    margin-block: 20px 15px;
  }

  .service-card{
    text-align: center;
  }

  .service-card img {
    margin: 0 auto;

  }

  .service-card title {
    margin-top: 30px;
  }


  .service-card .card-icon {
    transition: var(--transição-1);
}

  .service-card .card-icon:hover {
    transform: scale(1.2);
}

  .service-card .card-icon,
  .btn-circle{
    max-width: max-content;
    margin-inline: auto;

}

  .service-card .btn-circle{
    color: var(--Branco);
    font-size: 2rem;
    padding: 18px;
    border-radius: var(--radius-circle);
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
  }

  .service-card .btn-circle:hover{
    background-color: var(--bg-2);
    color: var(--Branco);
    cursor: pointer;
    filter: contrast(1.4) brightness(1.1) drop-shadow(0 0 10px rgba(3, 238, 226, 0.884))
  }
  
  /*Sobre*/

  .container-sobre{
    max-width: 1200px;
    margin: 0 auto;
  }

  .about .container-sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .section{
    padding-block: var(--section-spacing);
  }

  .about {
    padding-block-end: 0;
  }

  .about-banner {
    padding-block-end: 50px;
    position: relative;
    max-width:700px;
    width: 100%;
    margin: 0 auto;
  }

  .about-banner img{
    filter: contrast(1.2) brightness(0.9);
    transition: filter 0.4s;
  }

  .about-banner img:hover{
    filter: contrast(1.4) brightness(1.1) drop-shadow(0 0 10px rgba(0, 0, 0, 0.884));
  }

  .about .section-title {
    text-align: center;  
  }

  .about .section-subtitle { 
    color: var(--bg-5);
    text-align: center;
    font: var(--fs-3);
    font-weight: var(--weight-semibold);
    text-shadow: var(--shadow);
  }

  .about .section-text-1 {
    margin-block: 25px 15px;
    text-align: justify ;
  }

  .about-content .btn {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }

  /*PARALLAX*/

  .parallax {
    background-image: url(../img/pontos\ turisticos\ fundo.png);
    min-height: 750px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    font-size: var(--fs-1);
    color:var(--Branco);
    text-shadow: 2px 2px 10px var(--Black) ;
    margin-bottom: 30px;
    align-items: center;
  }

  .text-parallax {
    text-align: center;
    margin: 30px;
  } 
  
  .btn {
    margin: 0 auto;
  }

  .content {
    max-width: 900px;
  }

/*Galeria*/

  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 100%;
    padding: 0 30px;
  }

  .galeria img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.4s ease, filter 0.4s ease;
    filter: grayscale(0%); 
  }

  .galeria img:hover{
    transform: scale(1.05);
    filter:brightness(1.2) ;
  }

  .produto .section-title{
    text-align: center;
    margin-bottom: 30px;
  }

  #serv,
  #sobre,
  #novos estudos{
    scroll-margin-top: 160px;
  }

  /*BotãoTopo*/
  
  .back-top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-5);
    width: 50px;
    display: grid;
    place-items: center;
    font-size: var(--fs-6);
    clip-path: var(--clip-path-5);
    transition: var(--transition-1) ;
  }

  .back-top-btn:hover {
    transform: translateY(-20px)
  }

    /*FOOTER*/

    .footer{
      background-color: var(--Secondary);
    }
  
    .footer-top .container-footer{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 35px;
      max-width: 1200px;
      margin: 0 auto;
      font-size: var(--fs-f8);
    }
  
    .footer-brand .footer-text{
      margin-block: 20px 25px;
    }
  
    .footer-brand .social-list{
      display: flex;
      gap: 10px;
    }
  
    .footer .social-link{
      background-color: var(--bg-2);
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      clip-path: var(--clip-path-8);
      transition: var(--transition-1);
    }
  
    .footer .social-link:hover{
      background-color: var(--Background);
      transform: translateY(-2px);
    }

    .footer .footer-bottom{
      justify-content: center;
      text-align: center;
    }

    /* === CONTATO === */
    .container-contato{
      max-width: 1200px;
      margin: 0 auto;
     }

     .contato .section-title{
      text-align: center;
      margin-bottom: 40px;
      color: #080808;
      font-size: var(--fs-6);
     }

     .contato .container-contato{
      display: grid;
      grid-template-columns: 60% 40% ;
      gap: 50px;
     }
     .formulario h2{
      background-color:#A0A603;
      text-align: center;
      font-size: var(--fs-4);
     }

     .input{
      margin-top: 30px;
     }

/*Media queries*/

/*HEADER*/
  @media (max-width: 1499px){
    .header .btn,
    .search-btn{
      display: none;
    }
    .navbar-list .navbar-link{
      font-size: 14px;
    }

    .header .logo img{
      width: 100px;
    }

    .container{
      max-width:950px;
    }
    .footer-top  .container-footer{
      grid-template-columns: repeat(2, 1fr);
      margin: 0 50px;
      
    }
    
  }

  @media (max-width: 768px){
    .header .navbar {
      display: none;
    }
    .nav-toggle-btn{
      display:flex;
    }

    .container{
      max-width:600px;
    } 

    .parallax .content{
      margin: 0 50px;
      text-align: center;
    }

    .galeria{
      grid-template-columns: repeat(2, 1fr);
    }

  }
  
  @media (max-width: 992px) {
    .banner {
        height: 500px;
    }

    .banner video {
        height: 100%;
    }

    .service-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .about .container-sobre {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 50px 50px;
    }
  }

  @media (max-width: 550px){
    .header{
      padding: 15px 8px;
    }

    .logo img {
      width: 100px;
      height: auto;
    }

    .banner{
      height: 500px;
    }

    .banner video{
      height: 100%;
    }

    .service-list{
      grid-template-columns: 1fr;
      max-width: 700px;
      margin: -20px 50px;
    }

    .galeria{
      grid-template-columns: 1fr;
    }

    .footer .social-list{
      display: flex;
      gap: 10px;
    }
  }